@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import "glidejs/glide"; */
/* @import "node_modules/@glidejs/glide/src/assets/sass/glide.core"; */

body {
  font-family: 'Roboto', sans-serif;
}

/* Estilos generales de las flechas */
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Estilos de la flecha anterior */
.slick-prev {
  left: 10px;
}

/* Estilos de la flecha siguiente */
.slick-next {
  right: 10px;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: blue;
}

